.git
.github
.gradle
.idea
.localdb
build
out
bin
.DS_Store
*.log
logs
.env
.env.*
src/main/resources/application-local.properties
src/main/resources/application-local.yml
src/main/resources/application-local.yaml
